<%- include('../partials/header') %>
<div id="container-lg">
<form id="new-form" action="/players" method="POST">
  <label>First Name:</label>
  <input type="String" name="firstName" required />
  <br>
  <label>Last Name:</label>
  <input type="String" name="lastName" required />
  <br>
  <label>Position:</label>
  <input type="String" name="position" required />
  <br>
  <label>Jersey Number:</label>
  <input type="Number" name="jerseyNo" required />
  <br>
  <label>Games Played:</label>
  <input type="Number" name="gamesPlayed" required />
  <br>
  <label>Points:</label>
  <input type="Number" name="points" required />
  <br>
  <label>Goals:</label>
  <input type="Number" name="goals" required />
  <br>
  <label>Assists:</label>
  <input type="Number" name="assists" required />
  <br>
  <label>PIM:</label>
  <input type="Number" name="pim" required />
  <br>
  <label>+/-</label>
  <input type="Number" name="plusMinus" required />
  <br>
  <label>Current Team</label>
  <select name="team">
    <% allTeams.forEach(team => { %>
    <option value="<%= team.id %>"><%= team.name %></option>
    <% }) %>
  </select>
  <br>
  <input type="submit" value="Add Player" />
</form>
</div>
<%-include('../partials/footer')%>