<%- include('../partials/header') %>
<div class="container-sm vertical-center" >

<form id="new-form" action="/teams" method="POST">
     <label>City:</label>
   <br />

  <input name="city" class="form-control form-control-lg" type="String" autocomplete="off" aria-label=".form-control-lg example">
   <br />
   <label>Name:</label>
  <br />
   <input name="name" class="form-control form-control-lg" type="String" autocomplete="off" aria-label=".form-control-lg example">
    <br />
    <label>Arena</label>
    <br />
    <input name="arena" class="form-control form-control-lg" type="String" autocomplete="off" aria-label=".form-control-lg example">
     <br />
     <label>Year Established:</label>
     <br />
     <input name="year" class="form-control form-control-lg" type="Number" autocomplete="off" aria-label=".form-control-lg example">
      <br />
      <label>Stanley Cups:</label>
      <br />
      <input name="cups" class="form-control form-control-lg" type="Number" autocomplete="off" aria-label=".form-control-lg example">
       <br />
       <label>Points:</label>
      <br />
      <input name="points" class="form-control form-control-lg" type="Number" autocomplete="off" aria-label=".form-control-lg example">
       <br />
       <label>Games Played:</label>
       <br />
       <input name="gamesPlayed" class="form-control form-control-lg" type="Number" autocomplete="off" aria-label=".form-control-lg example">
        <br />
        <label>Wins:</label>
        <br />
        <input name="wins" class="form-control form-control-lg" type="Number" autocomplete="off" aria-label=".form-control-lg example">
         <br />
         <label>Losses</label>
         <br />
         <input name="losses" class="form-control form-control-lg" type="Number" autocomplete="off" aria-label=".form-control-lg example">
          <br />
  <label>Overtime Losses</label>
  <br />
  <input name="otl" class="form-control form-control-lg" type="Number" aria-label=".form-control-lg example">
   <br />
  <input type="submit" value="Add Team"/>
</form>
</div>
<%- include('../partials/footer') %>
