body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../pictures/wp8796152-hockey-rink-wallpapers.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
 #nav-stuff {
  font-size: 30px;
  font-family: 'Graduate', cursive;
 }

#show-content{
  width: 400px;
    background-color: #79797971;
    border: solid;
    border-radius: 30px;
    border-color: black;
  }

#tables{
  padding: 25px;
  background-color: #ffffffb6;
}

.team-name-logo {
  text-align: left;
}

.show-header {
  font-family: 'Graduate', cursive;
  font-weight: bold;
  font-size: 70px;
}

.show-sub {
  font-family: 'Graduate', cursive;
  font-size: 50px;
}



.headshot {
  border-style: solid;
  border-color: black;
  border-radius: 50%;
}

#form{
  font-size: 20px;
  width: 300px;
  padding: 25px;
  background-color: #79797971;
  border: solid;
  border-radius: 30px;
  border-color: black;
}

.main-stats {
  font-size: 30px;
  font-weight: bold;
}

#profile {
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  background-color: #ffffffb6;
}